@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap&subset=latin,latin-ext');

* {
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    display: flex;
    width: 90vw;
}

.panel:nth-of-type(1) {
    background-image: url('https://images.unsplash.com/photo-1541110729715-84eeda8be2be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

.panel:nth-of-type(2) {
    background-image: url('https://images.unsplash.com/photo-1610024565242-a7e3c07b4d1c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

.panel:nth-of-type(3) {
    background-image: url('https://images.unsplash.com/photo-1604537466573-5e94508fd243?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80');
}

.panel:nth-of-type(4) {
    background-image: url('https://images.unsplash.com/photo-1507975140808-424c25c0c3a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1955&q=80');
}

.panel:nth-of-type(5) {
    background-image: url('https://images.unsplash.com/photo-1596931926094-4a2439f80a78?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 80vh;
    border-radius: 50px;
    margin: 10px;
    flex: 0.5;
    transition: flex 0.7s ease-in;
    position: relative;
}

.panel h3 {
    position: absolute;
    font-size: 24px;
    bottom: 50px;
    left: 50px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.7s ease-out;
}

.panel.active{
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.7s ease-in 0.4s;
}

@media (max-width: 600px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}